.contactsLink {
  position: relative;
  color: #171718;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.contactsLink::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #171718;
  transform: scaleX(0);
  transform-origin: left right;
  transition: transform 0.3s ease-in-out;
}

.contactsLink:hover::before {
  transform: scaleX(1);
}

.activeContactsLink {
  position: relative;
  color: #171718;
  font-size: 20px;
  font-weight: bold;
}

.activeContactsLink::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #171718;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link__contacts:hover,
.link__contacts:focus {
  color: #f0635e;
}

.user {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 25px;
  margin: 0 auto;
}

.button {
  position: relative;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #d30000;

  &::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d30000;
    transform: scaleX(0);
    transform-origin: left right;
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}
